header
  h1= name

div#slides
  != slides

input( type='password', placeholder='Take control!' )#password
a( href='#', style='display: none' )#relinquish Relinquish control!
label#follow Follow? 
  input( type='checkbox' )
a#index( href='/' ) &laquo; Back to all presentations